{
  "presets": ["module:metro-react-native-babel-preset"],
  "env": {
    "development": {},
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-remove-console",
        "transform-remove-debugger"
      ]
    }
  },
  "plugins": [
    "lodash",
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "extensions": [
        ".ios.js",
        ".android.js",
        ".native.js",
        ".js"
      ],
      "alias": {
        "@": "./src"
      }
    }]
  ]
}
