{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    "lodash",
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "extensions": [
        ".ios.js",
        ".android.js",
        ".native.js",
        ".js"
      ],
      "alias": {
        "@": "./src"
      }
    }]
  ]
}
